body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-color: #f6f6f6;
}

/* Logo */
.logo {
    background-color: #d3d3d3;
    padding: 35px 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 6px solid #f6f6f6;
}

/* Main layout */
.layout {
    display: grid;
    grid-template-columns: 300px auto;
}

/* Sidebar */
.sidebar {
    background-color: white;
    padding-top: 40px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    border-right: 6px solid #f6f6f6;
}

/* Content Area */
.content {
    display: flex;
    flex-direction: column;
}

/* Header/Banner */
.header-banner {
    background-color: #2e1c1c;
    height: 300px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #d3d3d3;
}

/* Body Area */
.body-area {
    background-color: #2e1c1c;
    height: 420px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #d3d3d3;
    text-align: center;
    padding: 30px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 6px;
}
