body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-color: #f6e8d6;
}

/* Common Section Styling */
.logo, .header, .text-area, .footer {
    background-color: #d4d4d4;
    border-bottom: 5px solid #f6e8d6;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 40px 0;
}

/* Box Section */
.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
}

.box {
    background-color: #9b9b9b;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    border: 5px solid #f6e8d6;
}

/* Footer */
.footer {
    background-color: #d4d4d4;
    text-align: center;
    padding: 30px 0;
    font-size: 26px;
}
