*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 20px;
    background-color: red;
    
}

.box {
    background: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}